name: CI

on:
  pull_request:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Common Setup
        uses: ./.github/actions/setup

      - name: Log Yarn version
        run: yarn -v

      - name: Run Lint
        run: yarn lint

      - name: Run Test
        run: yarn test

      - name: Yarn  Install
        run: yarn --frozen-lockfile

      - name: Yarn Build
        run: yarn build

